/* @import-normalize; */
/* bring in normalize.css styles */


@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300;400;500;600&display=swap');


html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', "Alata", sans-serif;
  width: 100vw;
  height: 100vh;


}
/* 
body[lang="en"] {
  font-family: 'Poppins', sans-serif
}

body[lang="ru"] {
  font-family: "Alata", sans-serif;
}

body[lang="ua"] {
  font-family: "Alata", sans-serif;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #3F3F3F;
    margin: 0;
    padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

